services:
  db:
    image: postgres:18
    restart: unless-stopped
    shm_size: 128mb
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: secret

volumes:
  pgdata:
